.bg-aqua {
    background: #46bfa8 !important;
}

.small-box:hover .icon {
    font-size: 90px !important;
    transform: rotateX(40deg);
    animation: one 2s infinite;
    animation-direction: alternate;
}

.small-box > .small-box-footer {
    font-size: 16px;
}

section.appointments-section {
    margin-top: 5%;
}

ss-multiselect-dropdown {
    margin-left: 1em;
    margin-bottom: 2em;
}

ss-multiselect-dropdown.patient-input-confirmation {
    margin: 0;
}

/*
hr.style15 {
    border-top: 4px double #46bfa8;
    text-align: center;
}
hr.style15:after {
    content: '\002665';
    display: inline-block;
    position: relative;
    top: -15px;
    padding: 0 10px;
    background: #f0f0f0;
    color: #8c8b8b;
    font-size: 18px;
}*/

.flexbox {
    display: -webkit-flex;
    display: flex;
}

.check_block {
    background-position: 4px center;
    background-repeat: no-repeat;
    border: 1px solid #46bfa8;
    text-align: right;
    padding: 1px;
    padding-right: 5px;
    height: 19px;
    width: 85px;
}

.result_div {
    width: 100%;
}

.result_list > div,
.result_list > div > .result_body > div > div > table > tbody > tr {
    margin-bottom: 0.5em;
    background: #fff;
}

.result_list > div {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.result_list > div > a {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.result_line {
    display: block;
    color: black;
    text-decoration: none;
    /*border: 1px solid #46bfa8;
    border-radius: 10px;*/
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 100px;
    position: relative;
    min-height: 100px;
}

.result_line + .result_line {
    margin-top: 10px;
}

.result_line {
    background-color: #46bfa8;
    margin-top: 1em !important;
}

.img_block {
    background-color: lightgrey;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 80px;
    left: 10px;
    margin-top: -41px;
    position: absolute;
    top: 50%;
    width: 80px;
    opacity: 0.9;
}

.name {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 15px;
    color: #000 !important;
    margin-top: 1em;
}

.appointment_day {
    font-style: italic;
    width: 150px;
    font-weight: bold;
    margin-left: 1em;
}

.appointment_hours {
    -webkit-flex: 1;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    margin-right: 0.5em;
}

.flexbox > .appointment_hours {
    width: 300px !important;
}

.result_div > .result_list > div > .month_divider {
    background-color: rgba(70, 191, 168, 0.45) !important;
}

.month_divider > span {
    margin-left: 0.5em;
}

.speciality {
    margin-top: 10px;
    margin-right: 10px;
    color: #fff;
    font-family: 'Open Sans', sans-serif !important;
}

/*.appointment_labels {
    font-size: 14px;
    color: #46bfa8;
    margin-left: 1.5em !important;
}*/

.appointment_labels > label:first-child {
    margin-top: 2em !important;
}

.appointment_labels > .btn-aqua:last-child {
    margin-bottom: 2em !important;
}

.appointment_labels > label {
    margin-top: 0.5em;
}

.appointment_hours > a {
    cursor: pointer;
}

/*.availability_mobile > a{
    color: red !important;
}*/

@media (max-width: 768px) {
    .hours-dropdown > .dropdown {
        width: 60% !important;
        margin-left: 1em;
        margin-top: -10px !important;
    }

    img.appointment_logo, .appointment_title {
        opacity: 0.4;
        letter-spacing: 1px;
        font-weight: bold;
        color: #46bfa8;
        font-size: 18px;
    }

    .appointment_hours.moments {
        -webkit-flex: 1;
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0;
        margin-top: 5%;
        position: absolute;
        left: 10%;
    }

    .flexbox > .appointment_day {
        margin-bottom: 6%;
    }

    ss-multiselect-dropdown.patient-input-confirmation {
        margin-left: 0.5em !important;
    }

    .fa-chevron-right.chevron {
        display: none;
    }

    .appointment-data-confirmation {
        margin-left: 1em !important;
    }

    .aqua-text > div.row > div.col-md-6.padding-left {
        margin-left: -3em !important;
    }

    .card-header {
        margin-bottom: -40% !important;
    }

    .confirm-btns {
        margin-left: 0 !important;
    }

    .cancel-btn {
        margin-left: 0.5em !important;
    }
}

img.logo-searcher {
    margin-top: 7%;
    opacity: 0.3;
    width: 267px;
    height: 267px;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background: #46bfa8 !important;
}

img.appointment_logo, .appointment_title {
    opacity: 0.4;
    letter-spacing: 2px;
    font-weight: bold;
    color: #46bfa8;
}

.btn-aqua {
    font-size: 12px !important;
    border-radius: 4px !important;
    color: #777 !important;
    background-color: #fff !important;
    border: 1px solid #ccc !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
}

.searcher-btn {
    background: #46bfa8;
    color: #fff;
}

.search-btn {
    background: #46bfa8;
    color: #fff;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 33%;
}

.aqua-btn {
    background: #46bfa8;
    color: #fff;
    opacity: 0.7;
}

.cancel-btn {
    background: rgba(215, 15, 15, 0.87);
    color: #000;
    opacity: 0.7;
}

.aqua-btn:hover {
    opacity: 1;
}

.cancel-btn:hover {
    opacity: 1;
}

.confirm-btns {
    margin-left: 35%;
}

.dropdown-inline[_ngcontent-c7] {
    width: 90%;
}

.availability {
    margin-left: -10%;
}

.availability-list {
    overflow-y: auto;
    height: 60px;
}

@media (max-width: 1184px) {
    .availability {
        margin-left: 0.5em;
        margin-top: 1em;
    }

    .result_div {
        margin-top: 1em;
    }
}

.hour_separator:last-child {
    display: none;
}

.form-control.daterangepicker {
    font-size: 12px !important;
    border-radius: 4px !important;
    color: #777 !important;
    background-color: #fff !important;
    border: 1px solid #ccc !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
}

.datepicker-div {
    margin-left: 10%;
    margin-top: -5%;
}

.dropdown-menu {
    width: 100% !important;
}

.dropdown-menu > li > a > span {
    font-size: 11px !important;
}

.aqua-input {
    width: 90% !important;
}

.card {
    display: inline-block;
    /*box-shadow: 0 4px 5px 0 #46bfa8;*/
    margin: 20px;
    position: relative;
    margin-bottom: 50px;
    transition: all .2s ease-in-out;
    box-shadow: 0 5px 22px 0 rgba(0, 0, 0, .25);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin-bottom: 54px;
}

.card-header {
    transition: all .2s ease-in-out;
    background: url("../../../assets/img/logos/logo_2.png") no-repeat center;
}

.card-header {
    height: 200px;
    opacity: 0.5;
}

.card-content {
    padding: 20px;
    min-height: 200px;
}

.aqua-text {
    color: #46bfa8;
}

.aqua-text > div > div > i {
    font-size: 14px;
}

.padding-right {
    padding: 0 !important;
    margin-left: -10% !important;
}

.padding-left {
    padding-left: 25% !important;
}

/*.card-content {
  margin-left: 30%;
}*/

.appointment-data-confirmation {
    font-size: 16px;
}

td > a > span.badge {
    cursor: pointer;
}

td > a > span.badge-morning {
    border: 1px solid #46bfa8;
    background-color: #fff;
    color: #777;
}

td > a > span.badge-afternoon {
    border: 1px solid #79a3d8;
    background-color: #fff;
    color: #777;
    margin-left: -1em;
}

td > a > span.badge-evening {
    border: 1px solid #CAA8D4;
    background-color: #fff;
    color: #777;
}

td > a > span.badge-morning.morning_selected,
td > a > span.badge-morning:hover {
    background-color: #46bfa8 !important;
    color: #fff;
}

td > a > span.badge-afternoon.afternoon_selected,
td > a > span.badge-afternoon:hover {
    background-color: #79a3d8 !important;
    color: #fff;
    margin-left: -1em;
}

td > a > span.badge-evening.evening_selected,
td > a > span.badge-evening:hover {
    background-color: #CAA8D4 !important;
    color: #fff;
}

.no-results > img {
    opacity: 0.5;
    margin-top: 6%;
    margin-left: 10%;
}

#appointmentCalendar {
    margin-left: 15%;
}

.appointment_searcher {
    background: #fff;
}

.hours-dropdown {
    list-style: none;
    z-index: 999 !important;
}

.hours-dropdown > .badge.dropdown:hover,
.hours-dropdown > .badge.dropdown:focus,
.hours-dropdown > .badge.dropdown:active,
.hours-dropdown > .badge.dropdown > a:hover,
.hours-dropdown > .badge.dropdown > a:focus,
.hours-dropdown > .badge.dropdown > a:active {
    background: #F5D86F !important;
}

.hours-dropdown > .dropdown {
    border: 2px solid #f5d149 !important;
    background: rgba(245, 216, 111, 0.39) !important;
}

.hours-dropdown > .badge.dropdown {
    height: 18px !important;
}

.badge {
    font-weight: normal !important;
}

.nav > li > a {
    padding: 0px 15px !important;
    margin-top: -5px !important;
    color: #777 !important;
    font-family: 'Open Sans', sans-serif !important;
}

.hours-dropdown > li > .dropdown-menu > li > a {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 12px !important;
    cursor: pointer;
}

.hours-dropdown > li > .dropdown-menu {
    z-index: 999 !important;
}

.hours-dropdown > li.badge.dropdown > a > span.hidden-xs {
    display: block !important;
}

.confirm-date {
    padding: 0px 15px !important;
    margin-top: -5px !important;
    color: #fff !important;
    font-family: 'Open Sans', sans-serif !important;
    background: #0bafbf;
}