.bg-aqua{
    background: #46bfa8 !important;
}
.small-box:hover .icon {
    font-size: 90px !important;
    transform: rotateX(40deg);
    animation: one 2s infinite;
    animation-direction: alternate;
}

.small-box > .small-box-footer {
    font-size: 16px;
}
section.appointments-section{
    margin-top: 5%;
}
ss-multiselect-dropdown{
    margin-left: 1em;
    margin-bottom: 2em;
}

/*
hr.style15 {
    border-top: 4px double #46bfa8;
    text-align: center;
}
hr.style15:after {
    content: '\002665';
    display: inline-block;
    position: relative;
    top: -15px;
    padding: 0 10px;
    background: #f0f0f0;
    color: #8c8b8b;
    font-size: 18px;
}*/

.flexbox {
    display: -webkit-flex;
    display: flex;
}

.check_block {
    background-position:4px center;
    background-repeat:no-repeat;
    border:1px solid #46bfa8;
    text-align: right;
    padding: 1px;
    padding-right:5px;
    height: 19px;
    width: 85px;
}

.result_div {
    min-width: 0;
}

.result_list > div{
    margin-bottom: 0.5em;
}

.result_line {
    display: block;
    color: black;
    text-decoration: none;
    /*border: 1px solid #46bfa8;
    border-radius: 10px;*/
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 100px;
    position: relative;
    min-height: 100px;
}

.result_line + .result_line {
    margin-top: 10px;
}

.result_line {
    background-color: #D7EAF7;
    border-left: 1px solid #2c3b41 !important;
    border-right: 1px solid #2c3b41 !important;
    border-top: 1px solid #2c3b41 !important;
}

.img_block {
    background-color: lightgrey;
    background-position:50% 50%;
    background-repeat:no-repeat;
    border:1px solid #46bfa8;
    border-radius: 5px;
    height:80px;
    left:10px;
    margin-top:-41px;
    position:absolute;
    top:50%;
    width:80px;
}

.name {
    font-weight: bold;
    font-size: 16px;
}

.appointment_month {
    font-style: italic;
    width: 150px;
    margin-right: 0.5em;
    font-weight: bold;
}

.appointment_hours {
    -webkit-flex: 1;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    margin-right: 0.5em;
}

.speciality {
    margin-top: 10px;
    margin-right: 10px;
    color: #46bfa8;
}

.appointment_labels > label{
    font-size: 14px;
    color: #46bfa8;
    margin-left: 1.5em !important;
}

.appointment_searcher{
    border: 1px solid #46bfa8;
    margin-bottom: 1.5em;
}

.appointment_searcher > div.row{
    margin-bottom: 1em;
    margin-top: 1em;
}

.appointment_hours > a{
    cursor: pointer;
}

.result_body{
    border-left: 1px solid #2c3b41 !important;
    border-right: 1px solid #2c3b41 !important;
    border-bottom: 1px solid #2c3b41 !important;
}