<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="card col-md-10">

                    <div class="card-header"></div>

                    <div class="card-content">
                        <ss-multiselect-dropdown [options]="patient" [texts]="myTexts" [settings]="mySettings"
                                                 [(ngModel)]="patient_model"></ss-multiselect-dropdown>

                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- /.content -->
</div>

