.bg-aqua{
    background: #46bfa8 !important;
}
.small-box:hover .icon {
    font-size: 90px !important;
    transform: rotateX(40deg);
    animation: one 2s infinite;
    animation-direction: alternate;
}

.small-box > .small-box-footer {
    font-size: 16px;
}
section.appointments-section{
    margin-top: 5%;
}