<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="top_searcher">
            <h3 class="appointment_title"><i class="fa fa-stethoscope"></i> Appointment Request <i
                    class="fa fa-stethoscope"></i></h3>
            <!--
                        <img class="img-responsive center-block appointment_logo" src="../../../assets/img/logos/logo_2.png">
            -->
        </div>

        <!-- Date and time range -->
        <!--<input type="text" name="daterange" value="01/01/2015 1:30 PM - 01/01/2015 2:00 PM"/>-->

        <div class="row">
            <div class="col-md-4">
                <button class="btn searcher-btn" (click)="showSearcher()">
                    <i class="fa fa-filter"></i>
                    Search filters
                </button>
                <div class="appointment_searcher">
                    <div class="appointment_labels">
                        <label>Hospital</label>
                        <br/>
                        <ss-multiselect-dropdown [options]="hospital" [texts]="myTexts" [settings]="mySettings"
                                                 [(ngModel)]="hospital_model"></ss-multiselect-dropdown>
                        <br/>
                        <label>Speciality</label>
                        <br/>
                        <ss-multiselect-dropdown [options]="speciality" [texts]="myTexts" [settings]="mySettings"
                                                 [(ngModel)]="speciality_model"></ss-multiselect-dropdown>
                        <br/>
                        <label>Department</label>
                        <br/>
                        <ss-multiselect-dropdown [options]="department" [texts]="myTexts" [settings]="mySettings"
                                                 [(ngModel)]="department_model"></ss-multiselect-dropdown>
                        <br/>
                        <label>Gender</label>
                        <br/>
                        <ss-multiselect-dropdown [options]="gender" [texts]="genderTexts" [settings]="mySettings"
                                                 [(ngModel)]="gender_model"></ss-multiselect-dropdown>

                        <label for="dr_name">
                            Dr. name
                        </label>
                        <input id="dr_name"
                               type="text"
                               class="form-control aqua-input"
                               name="dr_name"
                        >
                        <br/>
                        <div [hidden]="!showing_calendar">
                            <div id="appointmentCalendar" style="width: 100%"></div>
                        </div>
                    </div>
                    <button class="btn search-btn" (click)="searchAvailability()">
                        Search
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="col-md-8">
                <div class="flexbox">
                    <div class="result_div">
                        <!--<div class="no-results" [hidden]="showing_results">
                            <img src="../../../assets/img/logos/logo_3.png" class="img-responsive">
                        </div>-->
                        <div class="result_list" *ngFor="let doctor of doctors">
                            <div>
                                <a class="result_line">
                                    <div class="img_block"
                                         style="background-image: url('../../../assets/img/dr_3.jpg'); background-size: auto 80px;"></div>
                                    <div class="name">
                                        {{doctor.name}}
                                    </div>
                                    <div class="speciality">
                                        {{doctor.speciality}}
                                    </div>
                                </a>
                                <div class="month_divider">
                                    <span>April 2017</span>
                                </div>
                                <div class="result_body">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <table class="table table-hover table-striped">
                                                <tbody>
                                                <tr>
                                                    <td><span class="badge badge-day">Wednesday 13th</span></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a (click)="showMorningAvailability()">
                                                            <span class="badge badge-morning morning_selected">Morning</span>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a (click)="showAfternoonAvailability()">
                                                            <span class="badge badge-afternoon">Afternoon</span>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a (click)="showEveningAvailability()">
                                                            <span class="badge badge-evening">Evening</span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <ul class="nav navbar-nav hours-dropdown">
                                                            <li class="badge dropdown">
                                                                <a href="#" class="dropdown-toggle"
                                                                   data-toggle="dropdown">
                                                                    <span class="hidden-xs">{{selected_hour}}</span>
                                                                </a>
                                                                <ul class="dropdown-menu">
                                                                    <li *ngFor="let hour of hours">
                                                                        <a (click)="onSelectedHour(hour)">{{hour}}</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    <td>
                                                        <button class="btn confirm-date"
                                                                [routerLink]="['/admin/new-appointment/confirmation']"
                                                        >Confirm
                                                        </button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ngb-pagination [pageSize]="15" [collectionSize]="80" [(page)]="page"></ngb-pagination>
            </div>
        </div>


    </section>
    <!-- /.content -->
</div>
<!--
<label class="date-range-divider"> Appointment date range</label>
                        <div class="datepicker-div">
                            <label for="start_range">
                                <i class="fa fa-clock"></i>
                            </label>
                            <input id="start_range"
                                   type="date"
                                   class="form-control daterangepicker"
                                   name="start_range"
                            >
                            <span>to</span>
                            <label for="end_range">
                                <i class="fa fa-clock"></i>
                            </label>
                            <input id="end_range"
                                   type="date"
                                   class="form-control daterangepicker"
                                   name="end_range"
                            >
                        </div>

                        <div class="col-md-4 availability">
                                            <strong>{{availability_moment}}</strong>
                                            <div class="flexbox">
                                                <div class="appointment_hours availability-list">
                                                    <a *ngFor="let hour of availability_hours; let isLast = last"
                                                       [routerLink]="['/admin/new-appointment/confirmation']">
                                                        {{hour}}{{isLast ? '' : ' | ' }}
                                                        <span *ngIf="availability_hours.indexOf(hour) === 2">
                                                            <br/>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                        -->