<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="top_searcher">
            <h3 class="appointment_title"><i class="fa fa-stethoscope"></i> Appointment Request <i
                    class="fa fa-stethoscope"></i></h3>
            <!--
                        <img class="img-responsive center-block appointment_logo" src="../../../assets/img/logos/logo_2.png">
            -->
        </div>

        <!-- Date and time range -->
        <!--<input type="text" name="daterange" value="01/01/2015 1:30 PM - 01/01/2015 2:00 PM"/>-->

        <div class="row">
            <div class="col-md-4">
                <button class="btn searcher-btn" (click)="showSearcher()">
                    <i class="fa fa-filter"></i>
                    Search filters
                </button>
                <div class="appointment_searcher">
                    <div class="appointment_labels">
                        <label>Hospital</label>
                        <br/>
                        <ss-multiselect-dropdown [options]="hospital" [texts]="myTexts" [settings]="mySettings"
                                                 [(ngModel)]="hospital_model"></ss-multiselect-dropdown>
                        <br/>
                        <label>Speciality</label>
                        <br/>
                        <ss-multiselect-dropdown [options]="speciality" [texts]="myTexts" [settings]="mySettings"
                                                 [(ngModel)]="speciality_model"></ss-multiselect-dropdown>
                        <br/>
                        <label>Department</label>
                        <br/>
                        <ss-multiselect-dropdown [options]="department" [texts]="myTexts" [settings]="mySettings"
                                                 [(ngModel)]="department_model"></ss-multiselect-dropdown>
                        <br/>
                        <label>Gender</label>
                        <br/>
                        <ss-multiselect-dropdown [options]="gender" [texts]="genderTexts" [settings]="mySettings"
                                                 [(ngModel)]="gender_model"></ss-multiselect-dropdown>

                    </div>
                    <button class="btn search-btn">
                        Search
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="col-md-8">
                <div class="flexbox">
                    <div class="result_div">
                        <div class="result_list">
                            <div>
                                <a class="result_line">
                                    <div class="img_block"
                                         style="background-image: url('../../../assets/img/dr_1.jpg'); background-size: auto 80px;"></div>
                                    <div class="name">
                                        Dr. Kadar
                                    </div>
                                    <div class="speciality">
                                        Cardiac - Gynaecological - Surgery
                                    </div>
                                </a>
                                <div class="result_body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <strong class="month_divider">April 2017</strong>
                                            <div *ngFor="let day of available_days">
                                                <div class="flexbox">
                                                    <div class="appointment_day">{{day}}</div>
                                                    <div class="appointment_hours moments">
                                                        <a (click)="showMorningAvailability()">Morning</a>
                                                        <span class="hour_separator">|</span>
                                                        <a (click)="showAfternoonAvailability()">Afternoon</a>
                                                        <span class="hour_separator">|</span>
                                                        <a (click)="showEveningAvailability()">Evening</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 availability">
                                            <strong>{{availability_moment}}</strong>
                                            <div class="flexbox">
                                                <div class="appointment_hours availability-list">
                                                    <a *ngFor="let hour of availability_hours; let isLast = last"
                                                       (click)="onHourSelected()">
                                                        {{hour}}{{isLast ? '' : ' | ' }}
                                                        <span *ngIf="availability_hours.indexOf(hour) === 2">
                                                            <br/>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <a class="result_line" [hidden]="displaying_hours">
                                    <div class="img_block"
                                         style="background-image: url('../../../assets/img/dr_2.jpg'); background-size: auto 80px;"></div>
                                    <div class="name">
                                        Dr. Jhonson
                                    </div>
                                    <div class="speciality">
                                        Ophthalmology - Laryngological - Gynaecological
                                    </div>
                                </a>
                                <div class="result_body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <strong class="month_divider">May 2017</strong>
                                            <div *ngFor="let day of available_days">
                                                <div class="flexbox">
                                                    <div class="appointment_day">{{day}}</div>
                                                    <div class="appointment_hours moments">
                                                        <a (click)="showMorningAvailability()">Morning</a>
                                                        <span class="hour_separator">|</span>
                                                        <a (click)="showAfternoonAvailability()">Afternoon</a>
                                                        <span class="hour_separator">|</span>
                                                        <a (click)="showEveningAvailability()">Evening</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 availability">
                                            <strong>{{availability_moment}}</strong>
                                            <div class="flexbox">
                                                <div class="appointment_hours availability-list">
                                                    <a *ngFor="let hour of availability_hours; let isLast = last"
                                                       (click)="onHourSelected()">
                                                        {{hour}}{{isLast ? '' : ' | ' }}
                                                        <span *ngIf="availability_hours.indexOf(hour) === 2">
                                                            <br/>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <a class="result_line">
                                    <div class="img_block"
                                         style="background-image: url('../../../assets/img/dr_3.jpg'); background-size: auto 80px;"></div>
                                    <div class="name">
                                        Dr. Kyle
                                    </div>
                                    <div class="speciality">
                                        Dental - Cardiac - Health Care
                                    </div>
                                </a>
                                <div class="result_body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <strong class="month_divider">April 2017</strong>
                                            <div *ngFor="let day of available_days">
                                                <div class="flexbox">
                                                    <div class="appointment_day">{{day}}</div>
                                                    <div class="appointment_hours moments">
                                                        <a (click)="showMorningAvailability()">Morning</a>
                                                        <span class="hour_separator">|</span>
                                                        <a (click)="showAfternoonAvailability()">Afternoon</a>
                                                        <span class="hour_separator">|</span>
                                                        <a (click)="showEveningAvailability()">Evening</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 availability">
                                            <strong>{{availability_moment}}</strong>
                                            <div class="flexbox">
                                                <div class="appointment_hours availability-list">
                                                    <a *ngFor="let hour of availability_hours; let isLast = last"
                                                       (click)="onHourSelected()">
                                                        {{hour}}{{isLast ? '' : ' | ' }}
                                                        <span *ngIf="availability_hours.indexOf(hour) === 2">
                                                            <br/>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ngb-pagination [pageSize]="15" [collectionSize]="80" [(page)]="page"></ngb-pagination>
            </div>
            <!--<div class="col-md-6" [hidden]="displaying_hours">
                <div class="flexbox">
                    <div class="result_div">
                        <div class="result_list">
                            <a class="result_line">
                                <div class="img_block"
                                     style="background-image: url('../../../assets/img/dr_2.jpg'); background-size: auto 80px;"></div>
                                <div class="name">
                                    Dr. Jhonson
                                </div>
                                <div class="speciality">
                                    Ophthalmology - Laryngological - Gynaecological
                                </div>
                                <div class="flexbox">
                                    <div class="appointment_day">Wednesday 13:</div>
                                    <div class="appointment_hours">
                                        11:11 <span class="hour_separator">|</span> 11:31 <span
                                            class="hour_separator">|</span> 14:23
                                    </div>
                                </div>
                            </a>

                            <a class="result_line">
                                <div class="img_block"
                                     style="background-image: url('../../../assets/img/dr_1.jpg'); background-size: auto 80px;"></div>
                                <div class="name">
                                    Dr. Kadar
                                </div>
                                <div class="speciality">
                                    Cardiac - Gynaecological - Surgery
                                </div>
                                <div class="flexbox">
                                    <div class="appointment_day">Wednesday 13:</div>
                                    <div class="appointment_hours">
                                        11:11 <span class="hour_separator">|</span> 11:31 <span
                                            class="hour_separator">|</span> 14:23
                                    </div>
                                </div>
                                <div class="flexbox">
                                    <div class="appointment_day">Tuesday 14:</div>
                                    1
                                    <div class="appointment_hours">
                                        11:13 <span class="hour_separator">|</span> 11:48 <span
                                            class="hour_separator">|</span> 13:17
                                    </div>
                                </div>
                            </a>

                            <a class="result_line">
                                <div class="img_block"
                                     style="background-image: url('../../../assets/img/dr_3.jpg'); background-size: auto 80px;"></div>
                                <div class="name">
                                    Dr. Kyle
                                </div>
                                <div class="speciality">
                                    Dental - Cardiac - Health Care
                                </div>
                                <div class="flexbox">
                                    <div class="appointment_day">Monday 11:</div>
                                    <div class="appointment_hours">
                                        16:11 <span class="hour_separator">|</span> 16:37 <span
                                            class="hour_separator">|</span> 17:21
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>


    </section>
    <!-- /.content -->
</div>
