<div class="col-md-6">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h4>Contact Data</h4>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-6 b-r">
                    <div class="appointment-div">
                        <div class="flexbox">
                            <div class="result_div">
                                <div class="result_list">
                                    <div>
                                        <a class="result_line">
                                            <div class="img_block"
                                                 style="background-image: url('../../../assets/img/dr_1.jpg'); background-size: auto 80px;"></div>
                                            <div class="name">
                                                Dr. Kadar
                                            </div>
                                            <div class="speciality">
                                                Cardiac - Gynaecological - Surgery
                                            </div>
                                        </a>
                                        <div class="result_body">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <strong class="month_divider">April 2017</strong>
                                                    <table class="table table-hover table-striped">
                                                        <tbody>
                                                        <tr>
                                                            <td>Wednesday</td>
                                                            <td>
                                                                <a (click)="showMorningAvailability()">
                                                                    <span class="badge badge-warning">Morning</span>
                                                                </a>
                                                                <a (click)="showAfternoonAvailability()">
                                                                    <span class="badge badge-warning">Afternoon</span>
                                                                </a>
                                                                <a (click)="showEveningAvailability()">
                                                                    <span class="badge badge-warning">Evening</span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label
                                        for="phone_1">Phone
                                    1</label>
                                <input type="text"
                                       class="form-control disabled-input"
                                       id="phone_1"
                                       name="phone_1"
                                       disabled
                                       [(ngModel)]="model.phone_1"
                                       #phone_1="ngModel"
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>