<div class="col-md-6">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h4>Contact Data</h4>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-6 b-r">
                    <div class="appointment-div">

                    </div>

                    <div class="form-group">
                        <label
                                for="phone_1">Phone
                            1</label>
                        <input type="text"
                               class="form-control disabled-input"
                               id="phone_1"
                               name="phone_1"
                               disabled
                               [(ngModel)]="model.phone_1"
                               #phone_1="ngModel"
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>