.login-box-body {
    background: transparent;
}
.login-page, .register-page {
    background: #f9f9f9 !important;
}

.btn-login {
    background: #8bb1e0;
    text-align: center;
    color: #fff;
    margin-left: 5%;
}