.bg-calendar {
    border: 2px solid #46bfa8 !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ca6d', endColorstr='#00a65a', GradientType=0) !important;
    color: #222d32;
    background: transparent;
}

.btn-dark-blue{
    background: rgba(255, 255, 255, 0.69);
    color: #222d32;
}