<!-- Calendar -->
<div class="box box-solid bg-calendar">
    <div class="box-header">
        <i class="fa fa-calendar"></i>

        <h3 class="box-title">Calendar</h3>
        <!-- tools box -->
        <div class="pull-right box-tools">
            <!-- button with a dropdown -->
            <button type="button" class="btn btn-dark-blue btn-sm" data-widget="collapse"><i
                    class="fa fa-minus"></i>
            </button>
        </div>
        <!-- /. tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
        <div class="row">
            <div class="col-md-6">
                <!--The calendar -->
                <div id="calendar" style="width: 100%"></div>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>No pending appointments</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
</div>